<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class=" between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">Inicio</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Productos</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contacto</a>
        <a mat-button routerLink="/demo" routerLinkActive="active">Utilidades</a>
        
      </nav>
    </div>
      <a  mat-raised-button routerLink="/admin">
        <mat-icon>settings</mat-icon>
        Admin
      </a>
      <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink="order">
        <mat-icon>shopping_cart</mat-icon>
        Carrito
      </a>

    
  </mat-toolbar-row>
</mat-toolbar>